.features-section {
  padding: 60px 35px;
  text-align: center;
}

.features-title {
  font-size: 36px;
  font-weight: 600;
  color: #111;
  margin-bottom: 30px;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28%, 1fr));
  gap: 30px;
}

.feature-card {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  background: #fff;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.feature-card:hover {
  transform: translateY(-5px);
}

/* Image section */
.feature-image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

/* Blue title bar (bottom strip) */
.feature-overlay {
  background-color: #011863;
  color: #fff;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.feature-overlay h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

/* Hover overlay that slides up */
.feature-hover {
  position: absolute;
  inset: 0;
  background-color: #011863;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 30px 40px;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  z-index: 2;
}

.feature-hover h3 {
  text-align: start;
  margin-bottom: 15px;
  font-size: 24px;
}

.feature-hover ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
  text-align: left;
}

.feature-hover li {
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 0.95rem;
  margin: 8px 0;
  line-height: 1.4;
}

.page-bullet-dot {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  background: linear-gradient(to right, #de7b00, #ff8c1a);
  border-radius: 50%;
  margin-top: 6px;
}

/* Hover Effect */
.feature-card:hover .feature-hover {
  transform: translateY(0);
}

/* Responsive */
@media (max-width: 768px) {
  .features-title {
    font-size: 20px;
  }

  .feature-hover h3 {
    font-size: 20px;
  }
}
