/* Hero Container */
.hero-container {
  position: relative;
  width: 100%;
  height: 680px;
  overflow: hidden;
}

/* Dynamic Background */
.slideshow-dynamic {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

/* Content */
.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: white;
}

/* Heading with Typewriter Effect */
.hero-heading {
  margin-top: 323px;
  padding-left: 65px;
  text-align: left;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.3;
  overflow: hidden;
  white-space: nowrap;
}


/* Button */
.hero-btn {
  margin-top: 40px;
  margin-left: 0px;
  width: fit-content;
  background: #F7941D;
  border: none;
  padding: 12px 24px;
  color: white;
  font-weight: bold;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  color: #000000;
  box-shadow: 0 4px 12px rgba(244, 142, 0, 1);
}

/* .btn-learn {
  background: #F7941D;
  border: none;
  padding: 12px 24px;
  color: white;
  font-weight: bold;
  border-radius: 999px;
  cursor: pointer;
}

.btn-learn:hover {
  color: #000000;
  box-shadow: 0 4px 12px rgba(244, 142, 0, 1);

} */

.hero-arrow {
  margin-left: 7px;
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  z-index: 3;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);
  color: #111;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(4px);
  transition: all 0.25s ease;
}

.hero-arrow:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.hero-arrow.left {
  left: 35px;
}

.hero-arrow.right {
  right: 35px;
}



@media (max-width: 767px) {
  .hero-container {
    width: auto;
    height: 80vh !important;
    /* overflow: hidden; */
  }

  .hero-heading {
    height: 150px;
    margin-top: 35vh;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    font-size: 28px;
    white-space: normal;
  }

  .slideshow-dynamic.right-crop {
    background-position: right center !important;
  }

  .hero-arrow {
    margin: 0px;
    margin-left: -20px;
    margin-right: -20px;
  }

}