/* Hero Container */
.hero-container {
  position: relative;
  width: 100%;
  height: 680px;
  overflow: hidden;
}

/* Dynamic Background */
.slideshow-dynamic {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

/* Content */
.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

/* Heading with Typewriter Effect */
.hero-heading {
  text-align: left;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.3;
  overflow: hidden;
  white-space: nowrap;
  /* border-right: 2px solid #fff; */
}

/* Blinking cursor */
/* .typewriter {
  animation: cursorBlink 0.7s infinite;
}

@keyframes cursorBlink {
  0% { border-right-color: transparent; }
  50% { border-right-color: transparent; }
  100% { border-right-color: transparent; }
} */

/* Button */
.hero-btn {
  margin-top: 30px;
  width: fit-content;
  background: #F7941D;
  color: #000;
  padding: 12px 32px;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background: #fff;
  color: #000;
}


@media (max-width: 767px) {
  .hero-container {
  width: auto;
  height: 680px;
  /* overflow: hidden; */
}

.hero-heading {
  text-align: left;
  font-size: 30px;
  white-space: normal;
}

}